input{
    padding: 6px;
    margin: 2px;
    border-radius: 2px;
    border: 1px solid gray;
    min-width: 200px;
}
.error input{
    border-color: red;
}

.errorMessage{
    color: red;
    font-size: 11px;
}
.inputField{
    height: 50px;
}