form{
    padding: 20px;
}

button {
    padding: 8px 15px;
    color: white;
    background: #4789f6;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    background: #4789c0;
}
button:active{
    background: #475fc0;
}

.successMessage{
    color: green;
    padding-top: 20px;
    font-size: 11px;
}